@font-face {
  font-family: "ub-B";
  src: url(../Fonts/fonts/Ubuntu-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "ub-m";
  src: url(../Fonts/fonts/Ubuntu-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "ub-r";
  src: url(../Fonts/fonts/Ubuntu-Regular.ttf) format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "ub-r";
  background-color: hsl(218, 100%, 97%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Main Container */
.main-container {
  display: flex;
  width: 950px;
  height: 600px;
  background-color: white;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

/* Steps Sidebar */
.steps-sidebar {
  width: 274px;
  background-image: url("../images/bg-sidebar-desktop.svg");
  border-radius: 15px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px 32px;
  position: relative;
}

.steps-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.step-item {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: -30px;
  color: white;
}

.step-number {
  width: 33px;
  height: 33px;
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "ub-m", sans-serif;
  font-size: 14px;
  transition: all 0.3s ease;
}

.step-item.active .step-number {
  background-color: hsl(206, 94%, 87%);
  color: hsl(213, 96%, 18%);
  border-color: hsl(206, 94%, 87%);
}

.step-info {
  display: flex;
  flex-direction: column;
}

.step-counter {
  font-size: 12px;
  color: hsl(231, 11%, 63%);
  font-family: "ub-r", sans-serif;
  margin-bottom: 4px;
}

.step-title {
  font-size: 14px;
  font-family: "ub-B", sans-serif;
  color: white;
  letter-spacing: 1px;
}

/* Form Section */
.form-section {
  flex: 1;
  padding: 40px 100px 40px 80px;

  align-items: center;
}

.form-content {
  width: 100%;
  max-width: 450px;
}

.form-title {
  font-family: "ub-B", sans-serif;
  font-size: 32px;
  color: hsl(213, 96%, 18%);
  margin-bottom: 12px;
}

.form-description {
  font-family: "ub-r", sans-serif;
  font-size: 16px;
  color: hsl(231, 11%, 63%);
  margin-bottom: 35px;
  line-height: 1.5;
}

/* Form Styles */
.form-group {
  margin-bottom: 24px;
}

.label-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.form-label {
  font-family: "ub-m", sans-serif;
  font-size: 14px;
  color: hsl(213, 96%, 18%);
}

.error-message {
  font-family: "ub-B", sans-serif;
  font-size: 12px;
  color: hsl(354, 84%, 57%);
}

.form-control {
  width: 100%;
  height: 48px;
  padding: 12px 16px;
  border: 1px solid hsl(231, 11%, 63%);
  border-radius: 8px;
  font-family: "ub-m", sans-serif;
  font-size: 16px;
  color: hsl(213, 96%, 18%);
  transition: all 0.3s ease;
}

.form-control:focus {
  outline: none;
  border-color: hsl(243, 100%, 62%);
}

.form-control::placeholder {
  color: hsl(231, 11%, 63%);
  font-family: "ub-m", sans-serif;
}

/* Button */
.form-action-btn {
  display: flex;
  justify-content: end;
}
.form-actions {
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;
}

.btn-primary {
  background-color: hsl(213, 96%, 18%);
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  font-family: "ub-m", sans-serif;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: hsl(243, 100%, 62%);
}

/* Utility Classes */
.d-none {
  display: none !important;
}

/* Step 2 styles */
.plan-option {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin: 2rem 0;
}

.plan-card {
  border: 1px solid hsl(231, 11%, 63%);
  border-radius: 8px;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.plan-card.selected {
  border-color: hsl(243, 100%, 62%);
  background-color: hsl(231, 100%, 94%);
}
.plan-card:hover {
  border-color: hsl(243, 100%, 62%);
}

.plan-info {
  margin-top: 2rem;
}
.plan-info-value {
  font-size: 15px;
  font-weight: bold;
}

.plan-info_desc {
  font-size: 15px;
  color: hsl(240, 0%, 41%);
}

.billing-toggle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 0.5rem;
  border-radius: 15px;
  background-color: hsl(231, 100%, 94%);
}

.billing-switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
}

.billing-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.billing-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(213, 96%, 18%);
  transition: 0.4s;
  border-radius: 24px;
}

.billing-slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .billing-slider {
  background-color: hsl(213, 96%, 18%);
}

input:checked + .billing-slider:before {
  transform: translateX(24px);
}

.billing-option {
  cursor: pointer;
  transition: 0.3s;
  opacity: 0.5;
}

.billing-option.active {
  opacity: 1;
  font-weight: bold;
}

.button-select {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn-back {
  transition: all 350ms ease-in;
  border: none;
}
.btn-back:hover {
  color: hsl(213, 96%, 18%);
  font-weight: bold;
}
.btn-next {
  background-color: hsl(213, 96%, 18%);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 9px;
}
.btn-next:hover {
  background-color: hsl(213, 96%, 18%);
  color: white;
}
/* finish step 2 */
/* ======================================================== */

/* start step 3 */
/* Add-ons Styles */
.add-ons-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem 0;
}

.add-on-item {
  border: 1px solid hsl(229, 24%, 87%);
  border-radius: 8px;
  padding: 0;
  background: white;
  transition: all 0.3s ease;
}

.add-on-checkbox {
  display: none;
}

.add-on-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.add-on-item:hover {
  border-color: hsl(243, 100%, 62%);
}

.add-on-checkbox:checked + .add-on-label {
  background-color: hsl(231, 100%, 99%);
  border-color: hsl(243, 100%, 62%);
}

.add-on-info {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.add-on-title {
  font-family: "ub-B", sans-serif;
  color: hsl(213, 96%, 18%);
  margin: 0;
  font-size: 1rem;
}

.add-on-description {
  font-family: "ub-r", sans-serif;
  color: hsl(231, 11%, 63%);
  margin: 0;
  font-size: 0.9rem;
}

.add-on-price {
  font-family: "ub-r", sans-serif;
  color: hsl(243, 100%, 62%);
  font-size: 0.9rem;
}

/* Custom Checkbox Style */
.add-on-label::before {
  content: "";
  width: 20px;
  height: 20px;
  border: 1px solid hsl(229, 24%, 87%);
  border-radius: 4px;
  margin-right: 1.5rem;
  transition: all 0.3s ease;
}

.add-on-checkbox:checked + .add-on-label::before {
  background-color: hsl(243, 100%, 62%);
  border-color: hsl(243, 100%, 62%);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white'%3E%3Cpath d='M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px;
}

/* Form Actions */
.form-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
}
/* finish step 3 */

/* ======================= */
/* start step 4 */
.summary-container {
  background-color: hsl(231, 100%, 99%);
  border-radius: 8px;
  padding: 1.5rem;
  margin: 2rem 0 1rem 0;
}
.plan-summary {
  margin-bottom: 1rem;
}
.plan-main-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.plan-details {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.selected-plan-name {
  font-family: "ub-B", sans-serif;
  color: hsl(213, 96%, 18%);
  margin: 0;
  font-size: 1rem;
}
.change-plan-link {
  font-family: "ub-r", sans-serif;
  color: hsl(231, 11%, 63%);
  text-decoration: underline;
  font-size: 0.9rem;
  transition: color 0.3s ease;
}
.change-plan-link:hover {
  color: hsl(243, 100%, 62%);
}

.plan-price-main {
  font-family: "ub-B", sans-serif;
  color: hsl(213, 96%, 18%);
  font-size: 1rem;
}
.divider {
  height: 1px;
  background-color: hsl(229, 24%, 87%);
  margin: 1rem 0;
}
.addons-summary {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.addon-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.addon-name {
  font-family: "ub-r", sans-serif;
  color: hsl(231, 11%, 63%);
  font-size: 0.9rem;
}
.addon-price {
  font-family: "ub-r", sans-serif;
  color: hsl(213, 96%, 18%);
  font-size: 0.9rem;
}
.total-container {
  padding: 0 1.5rem;
}
.total-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.total-label {
  font-family: "ub-r", sans-serif;
  color: hsl(231, 11%, 63%);
  font-size: 0.9rem;
}
.total-price {
  font-family: "ub-B", sans-serif;
  color: hsl(243, 100%, 62%);
  font-size: 1.2rem;
}
.btn-confirm {
  background-color: hsl(243, 100%, 62%);
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  font-family: "ub-m", sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-confirm:hover {
  background-color: hsl(243, 100%, 77%);
}
/* finish step 4 */

/* start confirm-last */
.confirm-data {
  display: flex;
  align-items: center;
}
.confirm-info {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.confirm-title {
  color: hsl(213, 96%, 18%);
  font-weight: bold;
  margin-top: 2rem;
}

.confirm-desc {
  font-size: 1rem;
  color: #9699ab;
  line-height: 1.6;
  max-width: 450px;
  text-align: right;
}
/* finiish confirm-last */

/* responsive */
/* Mobile Responsive Styles */
@media (max-width: 768px) {
  body {
    background-color: hsl(217, 100%, 97%);
    align-items: flex-start;
    padding: 0;
  }

  .main-container {
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    min-height: 100vh;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
    position: relative;
  }

  /* Mobile Steps Sidebar */
  .steps-sidebar {
    width: 100%;
    height: 172px;
    background-image: url("../images/bg-sidebar-mobile.svg");
    border-radius: 0;
    padding: 32px 0;
    display: flex;
    justify-content: center;
    z-index: 1;
  }

  .steps-list {
    flex-direction: row;
    gap: 16px;
    margin: 0 2rem 4rem 0;
  }

  .step-item {
    margin-left: 0;
  }

  .step-info {
    display: none;
  }

  /* Mobile Form Section */
  .form-section {
    padding: 32px 24px;
    margin-top: -80px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    margin-left: 24px;
    margin-right: 24px;
    width: calc(100% - 48px);
    z-index: 1;
  }

  .form-content {
    max-width: 100%;
  }

  .form-title {
    font-size: 24px;
    margin-bottom: 8px;
  }

  .form-description {
    font-size: 16px;
    margin-bottom: 22px;
    line-height: 1.6;
  }

  /* Mobile Form Groups */
  .form-group {
    margin-bottom: 16px;
  }

  .form-control {
    height: 40px;
    font-size: 15px;
  }

  /* Mobile Plan Options */
  .plan-option {
    grid-template-columns: 1fr;
    gap: 12px;
    margin: 1.5rem 0;
  }

  .plan-card {
    display: flex;
    align-items: flex-start;
    gap: 14px;
    padding: 14px;
  }

  .plan-info {
    margin-top: 0;
  }

  .plan-info-value {
    font-size: 14px;
  }

  .plan-info-desc {
    font-size: 12px;
    margin-bottom: 0;
  }

  /* Mobile Billing Toggle */
  .billing-toggle-container {
    margin-top: 24px;
    gap: 24px;
  }

  /* Mobile Add-ons */
  .add-ons-container {
    margin: 1.5rem 0;
  }

  .add-on-label {
    padding: 12px 16px;
  }

  .add-on-title {
    font-size: 14px;
  }

  .add-on-description {
    font-size: 12px;
  }

  .add-on-price {
    font-size: 13px;
  }

  /* Mobile Summary */
  .summary-container {
    padding: 16px;
    margin: 1.5rem 0 1rem 0;
  }

  .selected-plan-name {
    font-size: 14px;
  }

  .plan-price-main {
    font-size: 14px;
  }

  .addon-name,
  .addon-price {
    font-size: 14px;
  }

  .total-price {
    font-size: 16px;
  }

  /* Mobile Form Actions */
  .form-actions,
  .form-action.button-select {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    padding: 16px;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
  }

  .form-action-btn {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    padding: 16px;
    margin-top: 0;
    display: flex;
    justify-content: flex-end;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
  }

  .btn-next,
  .btn-confirm {
    padding: 12px 16px;
    font-size: 14px;
  }
  .btn-right {
    position: relative;
    left: 17rem;
  }
  /* Mobile Confirmation */
  .confirm-data {
    padding: 80px 24px;
    text-align: center;
  }

  .confirm-desc {
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
  }
}

/* Small Mobile Devices */
@media (max-width: 375px) {
  .form-section {
    margin-left: 16px;
    margin-right: 16px;
    width: calc(100% - 32px);
    padding: 24px 16px;
  }

  .form-title {
    font-size: 22px;
  }

  .form-description {
    font-size: 15px;
  }
  .btn-right {
    position: relative;
    left: 14rem;
  }
}

/* Tablet Adjustments */
@media (min-width: 769px) and (max-width: 1024px) {
  .main-container {
    width: 90%;
    height: auto;
    min-height: 600px;
  }

  .form-section {
    padding: 40px 60px 40px 40px;
  }
}
